<h3>POSTAGE AND PACKING</h3>
<p>We post at the same day if you made a purchase before 15:00. If you purchased after 15:00 we will post the next working day.</p>

<p>We pack nicely in high quality self-sealed self-standing aluminium or plastic food grade bags. In some cases we will pack in vacuum sealed plastic bags.</p>

<p>All our products are labelled in accordance with the new European regulations for Classification, Labelling and Packaging (CLP).</p>