<h3>RETURNS AND EXCHANGE POLICY</h3>
<p>If you are not completely satisfied with your purchase, please inform us via e-mail within 7 days and return the item to us in its original condition within 14 days of receipt.</p>

<p>Returned items should be unused and must be returned in original packaging with any enclosed documentation. We will issue a refund immediately after receiving the item.</p>